<a href="https://colab.research.google.com/github/YagyanshB/100-Days-Of-Python/blob/main/Day_9_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Programming Dictionaries & Nesting

In [8]:
# A sample programming dictionary

programming_dictionary = {"Bug": "Not an animal",
                          "Error": "Something is not working"}

In [6]:
programming_dictionary["Bug"]

'Not an animal'

In [9]:
student_scores = {
    "Harry": 81,
    "Ron": 78,
    "Hermione": 99,
    "Draco": 74,
    "Neville": 62
}

In [14]:
student_grades = {}

In [19]:
for student in student_scores:
  score = student_scores[student]

  if score > 90:
    student_grades[student] = "Outstanding"
  elif score > 80:
    student_grades[student] = "Exceeds Expectations"
  elif score > 70:
    student_grades[student] = "Acceptable"
  else:
    student_grades[student] = "Fail"

print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

In [23]:
# Nesting

List1 = ["a", "b"]
dictio = {"Hello": 123, "Yello": 567}

sample_dictionary = {"Key": "Value",
                     "Key1": [List1],
                     "Key2": [dictio]}

In [24]:
dictio["Hello"]

123

In [31]:
# Nesting a dictionary in a dictionary

travel_log = {
    "France": {"cities_visited": ["Paris", "Lille", "Dijon"], "total_visits": 12},
    "Germany": {"cities_visited": ["Berlin", "Hamburg", "Stuttgart"], "total_visits" : 14},
}

In [32]:
travel_log["Germany"]

{'cities_visited': ['Berlin', 'Hamburg', 'Stuttgart'], 'total_visits': 14}

In [42]:
travel_log = [

    {"country" :"France",
     "cities": ["Paris", "Lille", "Dijon"],
     "visits": 12},

    {"country": "Germany",
     "cities": ["Berlin", "Hamburg", "Stuttgart"],
     "visits" : 14},
]

In [40]:
travel_log["country" == "France"]

{'country': 'France',
 'cities_visited': ['Paris', 'Lille', 'Dijon'],
 'total_visits': 12}

In [46]:
travel_log = [
  {"country": "France",
   "cities": ["Paris", "Lille", "Dijon"],
   "visits": 12},

  {"country": "Germany",
    "cities": ["Berlin", "Hamburg", "Stuttgart"],
    "visits": 14},
]

def add_new_country(name, times_visited, cities_visited):

  new_country = {}
  new_country["country"] = name
  new_country["visits"] = times_visited
  new_country["cities"] = cities_visited

  travel_log.append(new_country)


country = input("Enter country name: ")
visits = int(input("Enter times visited: "))
cities = input("Enter cities separated by commas: ").split(", ")

add_new_country(country, visits, cities)

print(travel_log)

Enter country name: India
Enter times visited: 10
Enter cities separated by commas: Pilani, Mumbai
[{'country': 'France', 'cities': ['Paris', 'Lille', 'Dijon'], 'visits': 12}, {'country': 'Germany', 'cities': ['Berlin', 'Hamburg', 'Stuttgart'], 'visits': 14}, {'country': 'India', 'visits': 10, 'cities': ['Pilani', 'Mumbai']}]