<a href="https://colab.research.google.com/github/YagyanshB/100-Days-Of-Python/blob/main/Day_5_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Programming concepts will cover loops, ranges and code blocks

In [6]:
# For Loop

fruits = ["Apple", "Peach", "Pair"]

for fruit in fruits:
  print(fruit + " Pie")
  print(fruits)

Apple Pie
['Apple', 'Peach', 'Pair']
Peach Pie
['Apple', 'Peach', 'Pair']
Pair Pie
['Apple', 'Peach', 'Pair']

In [11]:
student_heights = [180, 124, 165, 173, 189, 169, 146]

total_height = 0

for height in student_heights:
  total_height += height

print(f"The total height of all students is {total_height}.")

number_of_students = 0

for student in student_heights:
  number_of_students += 1

print(f"The total number of students is {number_of_students}.")

average_height = round(total_height/number_of_students,2)

print(f"The average height of students is {average_height}.")

The total height of all students is 1146.
The total number of students is 7.
The average height of students is 163.71.

In [15]:
student_scores = [78, 65, 89, 86, 55, 91, 64, 89]

highest_score = 0

for score in student_scores:
  if score > highest_score:
    highest_score = score

print(f"The highest score is {highest_score}.")

The highest score is 91.

In [16]:
total = 0

for number in range(1, 101):
  total += number

print(total)

5050

In [17]:
# Adding up all even numbers upto 100000

even_total = 0

for even_number in range(2,100002,2):
  even_total += even_number


print(f"The even total of numbers up to 100,000 is {even_total}.")

The even total of numbers up to 100,000 is 2500050000.

In [20]:
target = int(input())

total = 0

for number in range(0, target + 1):
  total += number

print(total)

100
5050

In [23]:
# Fizz Buzz Job Interview Question

numbers = range(1,101)

for number in numbers:
  if number % 15 == 0:
    print("FizzBuzz")
  elif number % 5 == 0:
    print("Buzz")
  elif number % 3 == 0:
    print("Fizz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz